body {
    background-color: #eee;
}
h1 {
    color: blue;
}

#valueButton {
    background-color: black;
    padding: 15px;
    font-size: 300%;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid red;
    display: block;
    
    margin-right: auto;
    height: 100px;
    width: 75%;
    font-family: Helvetica-Compressed;
    
}
.text {
    background-color: purple;
    padding: 30px 0px 30px 0px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 5px solid red;
    display: block;
    
    margin-right: auto;
    height: 10%;
    width: 75%;
    font-family: Helvetica-Compressed;
    margin-top: 30px;
}

#number {
    background-color: purple;
    padding: 30px 0px 30px 0px;
    font-size: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 5px solid red;
    display: block;
    
    margin-right: auto;
    height: 100px;
    width: 75%;
    font-family: Helvetica-Compressed;
    margin-top: 15px;
    
}

#textSize {
    font-size: 30px;
}

#generatedNumbers {
    word-break: break-all;
    font-size: 20px;
}

#instructions {
    float: right;
    background-color: #66CCFF;
    color: white;
    text-align: center;
    width: 24%;
    height: 700px;
    border-radius: 10px;
    border: 3px solid red;
     
}

.line {
    border: 5px solid black;
}

.biggerBetter {
    font-family: pusab;
    font-size: 100px;
    color: blue;
}

.sizeCor {
    font-size: 20px;
}
